<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" type="text/css" href="footer.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/style/index_style.css">
    <link rel="stylesheet" type="text/css" href="/style/login.css">
    <!-- <link rel="stylesheet" type="text/css" href="index1.css"> -->
    <title>L.K. Enterprises</title>
    <link rel="icon" href="/img/favicon5.png">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Laurin_%26_Klement_logo.svg/1200px-Laurin_%26_Klement_logo.svg.png" width="100px" height="100px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">
                        <p class="Home"> Home</p> <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/product">
                        <p class="Product">Product</p>
                    </a>
                </li>
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="file:///C:/Users/lenovo/Desktop/webdox/index.html#">
                        <p class="Service">Service</p>
                    </a>
                </li> -->
                <li class="nav-item active">
                    <a class="nav-link" href="/contact">
                        <p class="Contact-Us">Contact-Us</p>
                    </a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <div class="icon">
                    <a href="https://verify2-9466-f1zlhs.twil.io/index.html" class="login" id="button">
            <svg style="color: white" id="mobile-phone" xmlns="http://www.w3.org/2000/svg" width="3.2em" height="3.2em" viewBox="0 0 15 15"> <path d="M10,2h0V1.5a.5.5,0,0,0-1,0V2H5A1,1,0,0,0,4,3V13a1,1,0,0,0,1,1h5a1,1,0,0,0,1-1V3A1,1,0,0,0,10,2ZM6,13H5V12H6Zm0-2H5V10H6ZM6,9H5V8H6Zm2,4H7V12H8Zm0-2H7V10H8ZM8,9H7V8H8Zm2,4H9V12h1Zm0-2H9V10h1Zm0-2H9V8h1Zm0-2.5a.5.5,0,0,1-.5.5h-4A.5.5,0,0,1,5,6.5v-3A.5.5,0,0,1,5.5,3h4a.5.5,0,0,1,.5.5Z" fill="white"></path> </svg>				 </svg>
                    </a>
                </div>
            </form>
        </div>

    </nav>
    {{{body}}}
</body>
</html>