* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #5CDB95;
}

.strip {
    height: 10px;
    position: relative;
    top: 35px;
    background-color: black;
    display: flex;
    width: 100%;
    flex: wrap;
}

.head {
    display: flex;
    background-color: antiquewhite;
    /* border: 1px solid black; */
    position: relative;
    top: -3px;
    width: 35%;
    margin-left: 23%;
}

.heading {
    text-align: center;
    position: relative;
    top: 10px;
    font-size: 290%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.headbox {
    background-color: antiquewhite;
    /* border: 1px dotted black; */
}

.intro {
    /* border: 2px solid black; */
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
}

.intropara {
    display: flex;
    flex-wrap: wrap;
    /* border: 3px dotted blue; */
    background-color: antiquewhite;
    padding: 30px;
    border-radius: 30px;
    width: 450px;
    position: relative;
    margin-left: 22%;
}

.introheading {
    /* border: 1px solid maroon; */
    height: 20vh;
    position: relative;
    top: 100px;
    margin-left: 2%;
    /* text-align: center; */
    /* left: -400px; */
    width: 300px;
    font-size: 20%;
}

.introheading h2 {
    font-family: 'Times New Roman', Times, serif;
    /* font-size: ; */
    font-size: 1000%;
    color: crimson;
}


/* .para
{
    border: 2px solid black;
} */

@media screen and (min-width: 990px) {
    .intro {
        /* border: 1px solid red; */
    }
    .introheading {
        margin-left: 2%;
        width: 300px;
    }
}

@media screen and (max-width: 990px) {
    .introheading {
        margin-left: 10%;
        position: relative;
        top: 60px;
        width: 350px;
    }
    .intropara {
        width: 100vw;
        /* border: 3px solid red; */
        /* margin-right: 20%; */
        margin-left: 0%;
        /* margin-top: -13%; */
    }
}


/* Table */

h1 {
    font-size: 30px;
    color: crimson;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}

table {
    width: 100%;
    table-layout: fixed;
}

.tbl-header {
    background-color: rgba(255, 255, 255, 0.3);
    /* background-color: #E73F28; */
}

.tbl-content {
    height: 300px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
}

td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 15px;
    color: #fff;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body {
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    font-family: 'Roboto', sans-serif;
}

section {
    margin: 50px;
}


/* follow me template */

.made-with-love {
    margin-top: 40px;
    padding: 10px;
    clear: left;
    text-align: center;
    font-size: 10px;
    font-family: arial;
    color: #fff;
}

.made-with-love i {
    font-style: normal;
    color: #F50057;
    font-size: 14px;
    position: relative;
    top: 2px;
}

.made-with-love a {
    color: #fff;
    text-decoration: none;
}

.made-with-love a:hover {
    text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

 ::-webkit-scrollbar {
    width: 6px;
}

 ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

 ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.Why-Us {
    /* border: 2px solid black; */
    margin-top: 5%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
}

.Whyuspara {
    display: flex;
    flex-wrap: wrap;
    /* border: 3px dotted blue; */
    background-color: antiquewhite;
    padding: 30px;
    border-radius: 30px;
    width: 450px;
    position: relative;
    margin-left: 1%;
}

.Whyusheading {
    /* border: 1px solid maroon; */
    height: 20vh;
    position: relative;
    top: 100px;
    margin-left: 25%;
    /* text-align: center; */
    /* left: -400px; */
    width: 300px;
    font-size: 20%;
}

.Whyusheading h2 {
    font-family: 'Times New Roman', Times, serif;
    /* font-size: ; */
    font-size: 1000%;
    color: crimson;
}

.footer {
    /* border: 3px solid  red; */
    background-color: #47424F;
    margin-left: 0%;
    margin-bottom: 0%;
    /* background-color: #F50057; */
    position: relative;
    /* margin-top:13%; */
    width: 100%;
    height: auto;
    /* padding: 60%; */
    /* padding-left: 1%; */
    padding-top: 4%;
    /* padding-right: 4%; */
    /* padding-bottom: 2%; */
}


/* .para
{
    border: 2px solid black;
} */

@media screen and (min-width: 990px) {
    .intro {
        /* border: 1px solid red; */
    }
    .introheading {
        margin-left: 2%;
        width: 300px;
    }
}

@media screen and (max-width: 1000px) {
    .Whyusheading {
        margin-left: 13%;
        padding-left: 13%;
        /* border: 2px solid black; */
        position: relative;
        top: 60px;
        width: 350px;
    }
    .Whyuspara {
        width: 100vw;
        /* border: 3px solid red; */
        /* margin-right: 20%; */
        margin-left: 0%;
        /* margin-top: -10%; */
    }
}

@media screen and (min-width: 990px) {
    .intro {
        /* border: 1px solid red; */
    }
    .Whyusheading {
        margin-left: 22%;
        width: 300px;
    }
}