<!DOCTYPE html>
<html lang="en">

<head>
    <title>Contact</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--==============================================================================================-->
    <!-- <link rel="icon" type="image/png" href="/images/icons/favicon.ico" /> -->
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/style/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/style/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/style/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/style/vendor/css-hamburgers/hamburgers.min.css">
    <!-- =============================================================================================== -->
    <link rel="stylesheet" type="text/css" href="/style/vendor/select2/select2.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" type="text/css" href="footer.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/style/Maincss/contact_us.css">
    <link rel="stylesheet" type="text/css" href="/style/Maincss/contact_us1.css">
    <link rel="stylesheet" type="text/css" href="/style/Maincss/index_style.css">
    <link rel="stylesheet" type="text/css" href="/style/Maincss/login.css">
    <!--===============================================================================================-->
    <link rel="icon" href="/img/favicon5.png">

</head>

<body>

    <style>
        .Home {
            color: white;
            font-size: 27px;
        }
        
        .Product {
            color: white;
            font-size: 27px;
        }
        
        .Contact-Us {
            color: white;
            font-size: 27px;
        }
    </style>

    <!-- Login -->
    {{!-- <div class="center">
        <!-- <input type="checkbox" id="show"> -->
        <!-- <label for="show" class="show-btn">View Form</label> -->
        <div class="container">
            <a href="contact.html" id="close"><label class="close-btn fas fa-times" title="close">Close</label></a>
            <div class="text">
                Login Form</div>
            <form action="#" method="post">
                <div class="data">
                    <label>Email or Phone</label>
                    <input type="text" name="user" required>
                </div>
                <div class="data">
                    <label>Password</label>
                    <input type="password" name="password" required>
                </div>
                <div class="forgot-pass">
                    <a href="#">Forgot Password?</a></div>
                <div class="btn">
                    <div class="inner">
                    </div>
                    <button type="submit">login</button>
                </div>
                <div class="signup-link">
                    Not a member? <a href="new_signup.html" id="signup">Signup now</a></div>
            </form>
        </div>
    </div> --}}



    <div class="contact1">
        <div class="container-contact1">
            <div class="contact1-pic js-tilt" data-tilt>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Laurin_%26_Klement_logo.svg/1200px-Laurin_%26_Klement_logo.svg.png" alt="IMG" width="190px">
            </div>

            {{!-- <form class="contact1-form validate-form" method="POST" action="/ajax/email" onsubmit="return submitEmailForm(this);"> --}}
              <form class="contact1-form validate-form" action="https://formcarry.com/s/IgiUHIUFp" method="POST" accept-charset="UTF-8">
  
                <span class="contact1-form-title">
					Get in touch
				</span>

                <div class="wrap-input1 validate-input" data-validate="Name is required">
                    <input class="input1" type="text" name="name" placeholder="Name">
                    <span class="shadow-input1"></span>
                </div>

                <div class="wrap-input1 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input1" type="text" name="email" placeholder="Email">
                    <span class="shadow-input1"></span>
                </div>

                <div class="wrap-input1 validate-input" data-validate="Subject is required">
                    <input class="input1" type="text" name="subject" placeholder="Subject">
                    <span class="shadow-input1"></span>
                </div>

                <div class="wrap-input1 validate-input" data-validate="Message is required">
                    <textarea class="input1" name="message" placeholder="Message"></textarea>
                    <span class="shadow-input1"></span>
                </div>

                <div class="container-contact1-form-btn">
                    <button onclick="JSalert()" class="contact1-form-btn">
						<span>
							Send Email
							<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						</span>
					</button>
                </div>
            </form>
        </div>
    </div>




    <!--===============================================================================================-->
    <script src="/style/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/style/vendor/bootstrap/js/popper.js"></script>
    <script src="/style/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/style/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="/style/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>

    <!--===============================================================================================-->
    <script src="/style/js/main.js"></script>

    <script type="text/javascript">
        document.getElementById("close").addEventListener("click", function() {
            document.querySelector(".container").style.display = "none";
            // document.querySelector("body,.navbar").style.background="rgba(0,0,0,0.6)";
        })
    </script>
    <script type="text/javascript">
        document.getElementById("button").addEventListener("click", function() {
            document.querySelector(".container").style.display = "block";
            document.querySelector("body").style.background = "rgba(0,0,0,0.6)";
            document.querySelector("#carouselExampleInterval").style.background = "rgba(0,0,0,0.6)";
        })
    </script>

    <script type="text/javascript">
        function submitEmailForm(form) {
            var obj = new XMLHttpRequest();
            obj.onreadystatechange = function() {
                if (obj.readyState == 4) {
                    if (obj.status == 200) {
                        var res = JSON.parse(obj.responseText);
                        // alert(res.message);
                        swal("Congrats!", "Mail was sent successfully!", "success");


                    } else {
                        // alert("XMLHttp status " + obj.status + ": " + obj.statusText);
                        swal("Oops!", "Server is facing some error!!!!", "error")
                    }
                }
            };
            obj.open("post", form.action, true);
            obj.setRequestHeader("Content-Type", "application/json"); // NOTICE: "application/json"
            obj.send(JSON.stringify({
                name: form.name.value,
                email: form.email.value,
                subject: form.subject.value,
                message: form.message.value
            }));
            return false;
        }
    </script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script type="text/javascript">
        function JSalert() {
            //Below one is pop up for showing a Success message
            swal("🙏Thanx for contacting LK_Enterprises🙏", "We will get back to you!", "success");
            //Below one is pop up for showing error 
            // swal("Oops!", "Server is facing some error!!!!", "error")


            //The link of just as above mentioned sweet alert functions is as "https://sweetalert2.github.io/" always 
            //remember that in mentioned link of sweetalert "swal.fire" but we have to use only "swal" not as "swal.fire"
            //for correctly working of pop up function as we have written below
            // swal({
            //         icon: 'error',
            //         title: 'Oops...',
            //         text: 'Something went wrong!',
            //         footer: '<a href>Why do I have this issue?</a>'
            //     })
            //Also note that the "swal" must be always inside any sort of function whatever we have defined   
        }
    </script>

</body>

</html>