 <!-- Image-Slider -->
    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <img src="/img/product1.jpeg" class="d-block w-100px" width="100%" height="600px">
            </div>
            <div class="carousel-item" data-interval="10000">
                <img src="/img/product3.jpeg" class="d-block w-100px" width="100%" height="600px">
            </div>
            <div class="carousel-item" data-interval="10000">
                <img src="/img/product2.jpeg" class="d-block w-100px" width="100%" height="600px">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!-- Login -->
    {{!-- <div class="center">
        <!-- <input type="checkbox" id="show"> -->
        <!-- <label for="show" class="show-btn">View Form</label> -->
        <div class="container">
            <a href="index.html" id="close"><label class="close-btn fas fa-times" title="close">Close</label></a>
            <div class="text">
                Login Form</div>
            <form action="#" method="post">
                <div class="data">
                    <label>Email or Phone</label>
                    <input type="text" name="user" required>
                </div>
                <div class="data">
                    <label>Password</label>
                    <input type="password" name="password" required>
                </div>
                <div class="forgot-pass">
                    <a href="#">Forgot Password?</a></div>
                <div class="btn">
                    <div class="inner">
                    </div>
                    <button type="submit">login</button>
                </div>
                <div class="signup-link">
                    Not a member? <a href="new_signup.html" id="signup">Signup now</a></div>
            </form>
        </div>
    </div> --}}
    <div class="krishtml">
        <!-- Profile -->
        <div class="profile">
            <h1 class="profileheading">Profile</h1>
            <p class="profilepara">Lk Enterprises is manufacturing a huge compilation of Aluminium coated heat sink cooler and extrusion products which are corrosion resistant, well tested and are durable. Manufactured making use of supreme in class material; these are in conformism with the guidelines
                defined by the market<span class="dots">.....</span></p>
            <div class="buttonread"> <a href="/read"><button type="button" class="btn btn-danger">Read more</button>
</a></button></div>
        </div>

        <div class="Profile_logo">
            <div class="firsthalf">
                <div class="maunfacture">
                    <svg id="natureof" width="100px" viewBox="0 0 35 35.01">
			<path fill="#2d3192" d="M6.974 30.827l-6.8-6.844a.608.608 0 0 1 0-.855l2.877-2.891a1.831 1.831 0 0 1 1.62-.5 7.5 7.5 0 0 1 6.829-3.869 7.847 7.847 0 0 1 3.036.606h6.744a2.443 2.443 0 0 1 1.885.9L26.74 13.7a2.422 2.422 0 1 1 3.686 3.143c-5.807 6.95-5.443 6.526-5.488 6.564a5.4 5.4 0 0 1-3.8 1.544H13.09a1.817 1.817 0 0 0-1.264.508l-.628.606a1.826 1.826 0 0 1-.432 1.878l-2.937 2.892a.608.608 0 0 1-.855-.008zm-3.058-9.739l-2.462 2.464 5.951 6 2.506-2.469a.608.608 0 0 0 0-.855c-5.446-5.436-5.14-5.162-5.246-5.224a.605.605 0 0 0-.749.083zm1.809-.753l4.752 4.75.515-.5a3.032 3.032 0 0 1 2.1-.849h8.048a4.2 4.2 0 0 0 2.937-1.181l5.436-6.5a1.214 1.214 0 1 0-1.855-1.567c-.023.031-.508.53-3.967 4.081a2.35 2.35 0 0 1 .023.319 2.431 2.431 0 0 1-2.424 2.423h-4.943a.606.606 0 1 1 0-1.211h4.943a1.211 1.211 0 0 0 0-2.423h-6.875a.639.639 0 0 1-.241-.053 6.676 6.676 0 0 0-2.666-.553q-.139-.006-.277-.006a6.276 6.276 0 0 0-5.506 3.27zm5.663-13.673a6.662 6.662 0 1 1 6.662 6.662 6.672 6.672 0 0 1-6.662-6.662zm1.2 0a5.451 5.451 0 1 0 5.45-5.45 5.451 5.451 0 0 0-5.446 5.45zm5.012 4.167a.6.6 0 0 1-.3-.545v-.7a2.522 2.522 0 0 1-1.1-.784.607.607 0 0 1 .931-.779 1.086 1.086 0 0 0 .787.462.606.606 0 0 0 0-1.21 1.816 1.816 0 0 1-.6-3.527v-.717h.005a.6.6 0 1 1 1.2 0v.7a2.47 2.47 0 0 1 .893.56.6.6 0 0 1-.84.871.978.978 0 0 0-.66-.318.606.606 0 0 0 0 1.211 1.816 1.816 0 0 1 .6 3.523v.712a.606.606 0 0 1-.916.545z"></path>
		  </svg>
                    <p class="manufacturepara">Maunfacture</p>
                </div>
                <div class="employee1">
                    <svg id="employee" width="100px" viewBox="0 0 40.23 26.52"><path fill="#2d3192" d="M37.55 26.449a.529.529 0 0 1-.212-.239h-4.716a.529.529 0 0 1-.917 0H30.4a.529.529 0 0 1-.961 0h-8.665a.529.529 0 0 1-.958 0h-8.657a.53.53 0 0 1-.962 0H3.229a.527.527 0 0 1-.929 0 .53.53 0 0 1-.065-.251v-3.9a2.223 2.223 0 0 1 1.228-2l1.417-.712a3.987 3.987 0 0 1-2.03-1.634.5.5 0 0 1 0-.472 9.389 9.389 0 0 0 .464-3.284c.014-.373.028-.725.049-1.043a4.593 4.593 0 0 1 4.482-4.442 4.6 4.6 0 0 1 4.484 4.447c.028.318.035.67.049 1.043a9.368 9.368 0 0 0 .465 3.284.51.51 0 0 1 0 .472 3.983 3.983 0 0 1-2.023 1.642l.508.254a2.807 2.807 0 0 1 .654-.345l3.252-1.186a.516.516 0 0 1 .14-.4l.987-1.036v-1.776A6.448 6.448 0 0 1 14.1 9.945V8.753a6.151 6.151 0 0 1-.564-2.572V5.053A5.057 5.057 0 0 1 18.586 0h7.908a.532.532 0 0 1 .529.529v5.645a6.145 6.145 0 0 1-.564 2.572v1.388a6.2 6.2 0 0 1-1.952 4.511c-.1.092-.194.184-.3.268v1.736l.986 1.036a.5.5 0 0 1 .141.4l3.082 1.115 1.065-.3c.437-.12.437-.169.437-.289v-.76a4.125 4.125 0 0 1-1.7-3.334v-.867l-.268-.544a2.763 2.763 0 0 1-.3-1.247v-.028A3.363 3.363 0 0 1 31 8.478h5.087a.532.532 0 0 1 .529.529v2.722a3.362 3.362 0 0 1-.352 1.5l-.211.423v1.008a3.884 3.884 0 0 1-1.191 2.812 4.01 4.01 0 0 1-.507.417v.725a.225.225 0 0 0 .162.212l2.184.626a2.291 2.291 0 0 1 1.648 2.148v4.372a.531.531 0 0 1-.046.239.528.528 0 0 1-.754.239zm-.212-.239a.524.524 0 0 1-.045-.239V21.6a1.169 1.169 0 0 0-.846-1.121l-2.185-.627a1.978 1.978 0 0 1-.226-.092l-1.344 1.34v4.87a.525.525 0 0 1-.069.24zm-5.633 0a.527.527 0 0 1-.07-.24V21.1l-1.343-1.342a3.009 3.009 0 0 1-.493.176l-.134.035a2.771 2.771 0 0 1 .782 1.931v4.067a.532.532 0 0 1-.048.244zm-2.267 0a.526.526 0 0 1-.047-.244V21.9a1.738 1.738 0 0 0-1.148-1.628l-3.433-1.247-1.431 2.143a1.124 1.124 0 0 1-.8.479.527.527 0 0 1-.106.007 1.1 1.1 0 0 1-.775-.317l-.874-.874v5.5a.529.529 0 0 1-.05.247zm-9.621 0a.529.529 0 0 1-.05-.247v-5.5l-.874.874a1.113 1.113 0 0 1-.775.317.527.527 0 0 1-.106-.007 1.071 1.071 0 0 1-.8-.479l-1.431-2.143-3.432 1.247a1.736 1.736 0 0 0-1.142 1.628v4.067a.526.526 0 0 1-.047.244zm-9.619 0a.526.526 0 0 1-.047-.244V21.9a2.822 2.822 0 0 1 .423-1.475L10 20.136l-.614.585a2.212 2.212 0 0 1-3.058 0l-.614-.585-1.768.881a1.155 1.155 0 0 0-.648 1.043v3.9a.53.53 0 0 1-.065.251zm6.237-8.1l1.644 2.467c.007 0 .014.007.028.014s.021 0 .028-.006l1.324-1.326-2.495-1.705zm4.676 1.148l1.325 1.326a.074.074 0 0 0 .028.006c.021 0 .028-.006.028-.014l1.643-2.467-.529-.557zm-14.429-.292a1.063 1.063 0 0 1-.127.514l.494.463a1.163 1.163 0 0 0 1.607 0l.493-.465a1.066 1.066 0 0 1-.128-.514V18.4a3.959 3.959 0 0 1-2.34 0zm24.288-.354a1.384 1.384 0 0 1-.035.317l1.2 1.2 1.2-1.205a1.5 1.5 0 0 1-.035-.311V18.4a4.006 4.006 0 0 1-1.163.176h-.121a3.756 3.756 0 0 1-1.049-.192zm-13.546-2.035l2.861 1.959 2.861-1.957v-.966a6.122 6.122 0 0 1-2.854.7c-.141 0-.275-.007-.417-.014a5.824 5.824 0 0 1-2.452-.71zm-7.352 1.318v.627a3.976 3.976 0 0 0 1.7-1.085 5.472 5.472 0 0 1-.3-1.262 3.929 3.929 0 0 1-1.4 1.72zm-6.145-.469a3.792 3.792 0 0 0 1.7 1.082v-.634a3.927 3.927 0 0 1-1.4-1.72 6.072 6.072 0 0 1-.3 1.272zm.544-3.3a.532.532 0 0 1 .529.531 2.861 2.861 0 0 0 5.688.444c-.852-1.882-3.051-2.136-3.735-2.171l-.8.824a.528.528 0 0 1-.761-.733l.951-.987a.55.55 0 0 1 .365-.162 6.738 6.738 0 0 1 2.01.317 4.791 4.791 0 0 1 2.608 1.911V14c-.006-.366-.021-.7-.041-1a3.964 3.964 0 0 0-1.071-2.467 3.286 3.286 0 0 0-4.722 0A3.923 3.923 0 0 0 4.42 13a14.5 14.5 0 0 0-.028 1 .956.956 0 0 0-.006.135.308.308 0 0 1 .068-.008zm24.244-2.294v.028a1.739 1.739 0 0 0 .183.775l.324.655a.567.567 0 0 1 .056.24v.986a2.955 2.955 0 0 0 2.787 3 2.853 2.853 0 0 0 2.946-2.854v-1.131a.54.54 0 0 1 .056-.239l.268-.536a2.37 2.37 0 0 0 .24-1.029V9.534h-4.56a2.3 2.3 0 0 0-2.3 2.3zM14.6 5.053v1.128a5.1 5.1 0 0 0 .512 2.219.7.7 0 0 1 .05.233v1.312a5.24 5.24 0 0 0 4.785 5.3 5.086 5.086 0 0 0 3.433-1.021l.006-.007c.141-.105.275-.225.41-.345a5.066 5.066 0 0 0 1.621-3.735V8.633a.506.506 0 0 1 .049-.232 4.993 4.993 0 0 0 .519-2.219V1.053H18.6a4 4 0 0 0-4 4z"></path></svg>
                    <p class="employeepara">Number Of Employee<br>(200 person)</p>
                </div>
            </div>
            <div class="secondhalf">
                <div class="yearofestablish">
                    <svg id="establish" width="100px" viewBox="0 0 35 35"><path fill="#2d3192" d="M.092 29.908A.311.311 0 0 1 0 29.684v-2.026a.313.313 0 0 1 .316-.316h.7V2.658h-.7A.313.313 0 0 1 0 2.342V.316A.313.313 0 0 1 .316 0h16.2a.313.313 0 0 1 .316.316v2.026a.311.311 0 0 1-.092.224.308.308 0 0 1-.224.092h-.7v4.43h13.868a.313.313 0 0 1 .225.092.309.309 0 0 1 .091.225V9.43a.313.313 0 0 1-.316.316h-.7v17.6h.7a.313.313 0 0 1 .316.316v2.025a.308.308 0 0 1-.092.224.311.311 0 0 1-.224.092H.313a.309.309 0 0 1-.221-.095zm.54-.541h28.735v-1.392H.633zm18.734-2.024H23.8V21.9h-4.43zm-17.722 0h12.533V9.747h-.7a.313.313 0 0 1-.316-.316V7.405a.313.313 0 0 1 .316-.316h1.713V2.658H1.646zm22.693-5.984a.309.309 0 0 1 .092.224v5.759h3.924V9.747H14.81v17.6h3.924v-5.76a.312.312 0 0 1 .316-.316h5.066a.311.311 0 0 1 .221.088zM13.8 9.114h15.57V7.722H13.8zM.633 2.025H16.2V.633H.633zm11.834 23.924H9.429a.312.312 0 0 1-.316-.316V22.6a.313.313 0 0 1 .087-.23.317.317 0 0 1 .225-.092h3.038a.319.319 0 0 1 .225.092.313.313 0 0 1 .091.225v3.038a.312.312 0 0 1-.313.316zm-2.722-.633h2.4v-2.4h-2.4zm-2.34.633H4.367a.313.313 0 0 1-.316-.316V22.6a.313.313 0 0 1 .092-.225.317.317 0 0 1 .224-.092h3.038a.317.317 0 0 1 .224.092.313.313 0 0 1 .092.225v3.038a.313.313 0 0 1-.313.316zm-2.722-.633h2.405v-2.4h-2.4zm20.95-5.442H22.6a.313.313 0 0 1-.317-.316V16.52a.313.313 0 0 1 .317-.32h3.038a.313.313 0 0 1 .316.317v3.038a.313.313 0 0 1-.313.316zm-2.722-.633h2.4v-2.4h-2.4zm-2.343.633h-3.037a.313.313 0 0 1-.316-.316V16.52a.313.313 0 0 1 .316-.317h3.037a.313.313 0 0 1 .317.317v3.038a.313.313 0 0 1-.313.316zm-2.722-.633h2.4v-2.4h-2.4zm-5.38.633H9.429a.312.312 0 0 1-.316-.316V16.52a.313.313 0 0 1 .087-.22.317.317 0 0 1 .225-.092h3.038a.319.319 0 0 1 .225.092.313.313 0 0 1 .091.225v3.038a.311.311 0 0 1-.091.224.315.315 0 0 1-.222.092zm-2.722-.633h2.4v-2.4h-2.4zm-2.34.633H4.367a.313.313 0 0 1-.316-.316V16.52a.313.313 0 0 1 .092-.225.317.317 0 0 1 .224-.092h3.038a.317.317 0 0 1 .224.092.313.313 0 0 1 .092.225v3.038a.313.313 0 0 1-.313.316zm-2.722-.633h2.406v-2.4h-2.4zM22.6 14.81a.313.313 0 0 1-.317-.317v-3.037a.313.313 0 0 1 .317-.316h3.038a.313.313 0 0 1 .316.316v3.037a.313.313 0 0 1-.092.225.317.317 0 0 1-.224.092zm.316-.634h2.4v-2.4h-2.4zm-5.38.634a.313.313 0 0 1-.316-.317v-3.037a.313.313 0 0 1 .316-.316h3.037a.313.313 0 0 1 .317.316v3.037a.313.313 0 0 1-.317.317zm.316-.634h2.4v-2.4h-2.4zm-5.38-.38H9.429a.312.312 0 0 1-.316-.316v-3.037a.312.312 0 0 1 .316-.316h3.038a.312.312 0 0 1 .316.316v3.038a.312.312 0 0 1-.313.316zm-2.722-.633h2.4v-2.404h-2.4zm-2.34.633H4.367a.313.313 0 0 1-.316-.316v-3.037a.313.313 0 0 1 .316-.316h3.038a.313.313 0 0 1 .316.316v3.038a.313.313 0 0 1-.313.316zm-2.722-.633h2.4v-2.404h-2.4zM9.2 7.63a.312.312 0 0 1-.091-.224V4.367a.312.312 0 0 1 .316-.316h3.038a.312.312 0 0 1 .316.316v3.038a.312.312 0 0 1-.316.316H9.426A.313.313 0 0 1 9.2 7.63zm.541-.541h2.4V4.684h-2.4zm-5.6.541a.315.315 0 0 1-.092-.225V4.367a.313.313 0 0 1 .316-.316h3.04a.313.313 0 0 1 .316.316v3.038a.313.313 0 0 1-.316.316H4.363a.313.313 0 0 1-.22-.091zm.54-.541h2.407V4.684h-2.4z"></path></svg>
                    <p class="yearofestablishpara">Year Of Establishment(2017)</p>
                </div>
                <div class="gst">
                    <svg id="gst" widht="100px" viewBox="0 0 35 35"><path fill="#2d3192" d="M22.119 32.821a7.02 7.02 0 0 1-5.064-2.155h-15.1A1.953 1.953 0 0 1 0 28.719V9.18a.483.483 0 0 1 .481-.48.484.484 0 0 1 .481.48v19.526a.993.993 0 0 0 .994.994h14.32A7.043 7.043 0 0 1 23.5 18.873V8.353h-5.4a2 2 0 0 1-2-1.991v-5.4H1.955a.989.989 0 0 0-.993.993v5.308a.484.484 0 0 1-.482.481.483.483 0 0 1-.48-.481V1.955A1.959 1.959 0 0 1 1.955 0h14.616a.482.482 0 0 1 .341.138l7.4 7.4a.477.477 0 0 1 .141.339v11.279a7.038 7.038 0 0 1 3.173 11.013.481.481 0 0 1-.751-.6 6.117 6.117 0 1 0-1.282 1.2.478.478 0 0 1 .551.782 6.953 6.953 0 0 1-4 1.269zM17.058 6.368A1.031 1.031 0 0 0 18.09 7.4h4.725l-5.757-5.759zm3.968 22.882l-3.167-3.167a.483.483 0 0 1 0-.679l1.59-1.59a.483.483 0 0 1 .679 0l1.238 1.231 2.734-2.731a.486.486 0 0 1 .68 0l1.6 1.589a.483.483 0 0 1 0 .68l-4.674 4.667a.484.484 0 0 1-.68 0zm-2.146-3.506l2.487 2.488 3.975-3.987-.911-.91-2.731 2.73a.483.483 0 0 1-.679 0l-1.231-1.231zm-14.9-2.428a.481.481 0 0 1 0-.962h9.1a.481.481 0 1 1 0 .962zm0-3.469a.481.481 0 0 1 0-.962h9.077a.481.481 0 0 1 0 .962zm0-3.474a.481.481 0 0 1 0-.962H18.2a.481.481 0 1 1 0 .962zm0-3.475a.481.481 0 0 1 0-.962H18.2a.481.481 0 1 1 0 .962zm-.24-5.241c-.131 0-.24-.221-.24-.487s.109-.487.24-.487h7.11c.13 0 .239.22.239.487s-.109.487-.239.487z"></path></svg>
                    <p class="gstno">GST:07ALJPK6129N1ZM</p>
                </div>
            </div>
        </div>
        <!-- Grid -->
        <h1 class="gallery">GALLERY</h1>
        <div class="content-wrapper">
            <div class="portfolio-items-wrapper">

                <div class="portfolio-item-wrapper">
                    <div class="portfolio-img-background" style="background-image:url(/img/product3.jpeg)"></div>

                    <div class="img-text-wrapper">
                        <div class="logo-wrapper">
                            <img src="" alt="">
                        </div>

                        <div class="subtitle">Aluminium Heat Sink Extrusion, it is resilient, well tested, durable, impeccable and have economic pricing.</div>
                    </div>
                </div>

                <div class="portfolio-item-wrapper">
                    <div class="portfolio-img-background" style="background-image:url(/img/product5.jpeg)"></div>
                    <div class="img-text-wrapper">
                        <div class="logo-wrapper">
                            <img src="Images/logos/devcamp.png" alt="">
                        </div>

                        <div class="subtitle">SMC Busbar Support made using high grade fiber glass sheet of Oec brand and SS material type has the impeccable quality.</div>
                    </div>
                </div>

                <div class="portfolio-item-wrapper">
                    <div class="portfolio-img-background" style="background-image:url(/img/product2.jpeg)"></div>
                    <div class="img-text-wrapper">
                        <div class="logo-wrapper">
                            <img src="Images/logos/eventbrite.png" alt="">
                        </div>

                        <div class="subtitle">Aluminium Inverter Heat Sink, of EFS brand with powder coated surface, also it is corrosion resistant.</div>
                    </div>
                </div>

                <div class="portfolio-item-wrapper">
                    <div class="portfolio-img-background" style="background-image:url(/img/product4.jpeg)"></div>
                    <div class="img-text-wrapper">
                        <div class="logo-wrapper">
                            <img src="Images/logos/shop-hacker.png" alt="">
                        </div>

                        <div class="subtitle">Aluminium Heat Sink Cooler, easily applicable with beaglebone and stepper motors, also suitable for raspberry pi models.</div>
                    </div>
                </div>

                <div class="portfolio-item-wrapper">
                    <div class="portfolio-img-background" style="background-image:url(/img/product2.jpeg)"></div>
                    <div class="img-text-wrapper">
                        <div class="logo-wrapper">
                            <img src="Images/logos/crondose.png" alt="">
                        </div>

                        <div class="subtitle">Aluminium Inverter Heat Sink, of EFS brand with powder coated surface, also it is corrosion resistant.</div>
                    </div>
                </div>

                <div class="portfolio-item-wrapper">
                    <div class="portfolio-img-background" style="background-image:url(/img/product1.jpeg)"></div>
                    <div class="img-text-wrapper">
                        <div class="logo-wrapper">
                            <img src="Images/logos/dailysmarty.png" alt="">
                        </div>

                        <div class="subtitle">Ceramic Bead Rack, contains two vertical pillar supports to hold high temp wire, also used in kiln for firing ceramic beads.</div>
                    </div>
                </div>

                <div class="portfolio-item-wrapper">
                    <div class="portfolio-img-background" style="background-image:url(/img/product3.jpeg)"></div>
                    <div class="img-text-wrapper">
                        <div class="logo-wrapper">
                            <img src="Images/logos/dashtrack.png" alt="">
                        </div>

                        <div class="subtitle">Aluminium Heat Sink Extrusion, it is resilient, well tested, durable, impeccable and have economic pricing.</div>
                    </div>
                </div>

                <div class="portfolio-item-wrapper">
                    <div class="portfolio-img-background" style="background-image:url(/img/product2.jpeg)"></div>
                    <div class="img-text-wrapper">
                        <div class="logo-wrapper">
                            <img src="Images/logos/devtrunk.png" alt="">
                        </div>

                        <div class="subtitle">Aluminium Inverter Heat Sink, of EFS brand with powder coated surface, also it is corrosion resistant.</div>
                    </div>
                </div>

                <div class="portfolio-item-wrapper">
                    <div class="portfolio-img-background" style="background-image:url(/img/product5.jpeg)"></div>
                    <div class="img-text-wrapper">
                        <div class="logo-wrapper">
                            <img src="Images/logos/devtrunk.png" alt="">
                        </div>

                        <div class="subtitle">SMC Busbar Support made using high grade fiber glass sheet of Oec brand and SS material type has the impeccable quality.</div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Footer -->
        <section class="footer">
            <div class="footer-bigbox">
                <div class="uppercontent">
                    <div class="address">
                        <p>
                            <strong>Address</strong>
                            <br>
                            <br>26P/56-A Kamal Park, Palam,
                            <br>New Delhi, PIN - 110045
                            <br>
                            <br>
                            <br><strong>Contacts</strong>
                            <br>
                            <br>Email:Lk_Entreprises@proton.me
                            <br>Phone: 011 6460 2603
                            <br>Fax: +1 (1) 123 456 789
                        </p>
                    </div>
                    <div class="links">
                        <p>
                            <strong>Links</strong>
                            <br>
                            <br><a class="text-white" href="/product">Product</a>
                            <br><a class="text-white" href="/contact">Contact-Us</a>
                            <br><a class="text-white" href="/read">Read-more</a>
                            <br>
                            <br><strong>Feedback</strong>
                            <br>
                            <br>Please send us your ideas, bug reports, suggestions! Any feedback would be appreciated.
                        </p>
                    </div>
                    <div class="map">
                        <div class="google-map"><iframe frameborder="0" height="420px" width="100%" style="border:0" src="https://maps.google.com/maps? v1/place?key=AIzaSyA6UHhIx9HnAErWukjN18_v1AHzZQVPu_s&q=LK Enterprises,Palam, New Delhi,India&t=&z=13&ie=UTF8&iwloc=&output=embed" allowfullscreen=""></iframe></div>
                    </div>
                </div>
                <div class="sicons">
                    <div class="social-footer-icons">
                        <a target="_blank" href="https://m.facebook.com/106423911117311/photos/a.107219924371043/107229954370040/?type=3&paipv=0&eav=Afa7TtdEQUgaoU01gqv6m4M2gtkVdZ7U-QNj4HzahdVuS3lBL1aUv6F8jEzT8-4Q-Zw&_rdr"><i class="fa  fa-3x fa-facebook" aria-hidden="true"></i></a>
                        <a target="_blank" href="https://www.instagram.com/l.kenterprises/"><i class="fa fa-3x fa-instagram" aria-hidden="true"></i></a>
                        <a target="_blank" href="https://www.pinterest.com/lkenterprises103020/"><i class="fa fa-3x fa-pinterest-p" aria-hidden="true"></i></a>
                        <a target="_blank" href="https://mobile.twitter.com/lkpackaging"><i class="fa fa-3x fa-twitter" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="footerlower">
                    <div class="horizontal-line">
                        <hr>
                    </div>
                    <div class="Copyright">
                        <p>
                            © Copyright Permission LK_Enterprises   
                        </p>
                    </div>
                </div>



            </div>

        </section>

    </div>



</body>
<script type="text/javascript">
    const portfolioItems = document.querySelectorAll('.portfolio-item-wrapper')
    portfolioItems.forEach(portfolioItems => {
        portfolioItems.addEventListener('mouseover', () => {
            portfolioItems.childNodes[1].classList.add('img-darken');
        })

        portfolioItems.addEventListener('mouseout', () => {
            portfolioItems.childNodes[1].classList.remove('img-darken');
        })
    })
</script>

<script id="Media">
    function myFunction() {
        window.open("file:///C:/Users/lenovo/Desktop/webdox/new_signup.html", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=100,left=400,width=992,height=499");
    }
</script>
<!-- Login script -->

<script type="text/javascript">
    document.getElementById("close").addEventListener("click", function() {
        document.querySelector(".container").style.display = "none";
        // document.querySelector("body,.navbar").style.background="rgba(0,0,0,0.6)";
    })
</script>
<script type="text/javascript">
    document.getElementById("button").addEventListener("click", function() {
        document.querySelector(".container").style.display = "block";
        document.querySelector("body").style.background = "rgba(0,0,0,0.6)";
        document.querySelector("#carouselExampleInterval").style.background = "rgba(0,0,0,0.6)";
    })
</script>


</body>

</html>