<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" type="text/css" href="homepage1.css">/ -->
    <link rel="stylesheet" type="text/css" href="/style/index_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/style/myfactsheet.css">
    <link rel="stylesheet" type="text/css" href="/style/login.css">
    <link rel="icon" href="/img/favicon5.png">


    <title>L.K. Enterprises Information</title>
</head>

<body>

    

    <!-- Login -->
    <div class="center">
        <!-- <input type="checkbox" id="show"> -->
        <!-- <label for="show" class="show-btn">View Form</label> -->
        <div class="container">
            <a href="myfactsheet.html" id="close"><label class="close-btn fas fa-times" title="close">Close</label></a>
            <div class="text">
                Login Form</div>
            <form action="#" method="post">
                <div class="data">
                    <label>Email or Phone</label>
                    <input type="text" name="user" required>
                </div>
                <div class="data">
                    <label>Password</label>
                    <input type="password" name="password" required>
                </div>
                <div class="forgot-pass">
                    <a href="#">Forgot Password?</a></div>
                <div class="btn">
                    <div class="inner">
                    </div>
                    <button type="submit">login</button>
                </div>
                <div class="signup-link">
                    Not a member? <a href="new_signup.html" id="signup">Signup now</a></div>
            </form>
        </div>
    </div>



    <div class="headbox">
        <p class="heading">L.K. ENTERPRISES</p>
    </div>
    <div class="intro">
        <div class="introheading">
            <h2>INTRODUCTION</h2>
        </div>
        <div class="intropara">
            <p class="para"><br><br><br>Established in year 2010,<b>J.k. Enterprises</b> has pioneered the industry by providing optimum quality Cotton Pillow and more. Due to our professional expertise, we have been the industry leaders and thus our role becomes stronger
                to fulfill the diverse needs of our prominent clients. Under the respected guidance of <b>Name Of Owner</b> (Owner), we are where our clients want us to be.</p>
        </div>
    </div>


    <!-- Table -->


    <section>
        <!--for demo wrap-->
        <h1>Fixed Table header</h1>
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Detail</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    <tr>
                        <td>Nature of Business:</td>
                        <td>Manufacturer</td>
                    </tr>
                    <tr>
                        <td>Additional Business:</td>
                        <td>Exporter</td>
                    </tr>
                    <tr>
                        <td>Company CEO:</td>
                        <td>####</td>
                    </tr>
                    <tr>
                        <td>Total Number of Employees:</td>
                        <td>Upto 20 People</td>
                    </tr>
                    <tr>
                        <td>Year of Establishment:</td>
                        <td>####</td>
                    </tr>
                    <tr>
                        <td>Legal status of Firm:</td>
                        <td>Indivisual - Proprietor</td>
                    </tr>
                    <tr>
                        <td>Import Export Code(IEC):</td>
                        <td>###################</td>
                    </tr>
                    <tr>
                        <td>GST No.:</td>
                        <td>###################</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>


    <!-- follow me template -->
    <!-- <div class="made-with-love">
		Made with
		<i>♥</i> by
		<a target="_blank" href="https://codepen.io/nikhil8krishnan">Nikhil Krishnan</a>
	  </div> -->

    <!-- Why-Us -->

    <div class="Why-Us">
        <div class="Whyusheading">
            <h2>Why-Us?</h2>
        </div>
        <div class="Whyuspara">
            <p>In order to maintain the reputation we have developed over the years, we are indulged in providing supreme grade products to our patrons.</p>
            <p><b>Following are the reasons behind the accomplishment of our organization:</b></p>

            <ul style="list-style-type:disc">
                <li>Flexible payment modes</li>
                <li>On time delivery</li>
                <li>Huge distribution network</li>
                <li>Ethical business strategies</li>
                <li>Clarity in deals</li>
            </ul>
        </div>
    </div>


    <!-- Footer -->
    <section class="footer">
        <div class="footer-bigbox">
            <div class="uppercontent">
                <div class="address">
                    <p>
                        <strong>Address</strong>
                        <br>
                        <br>Rz-269/56-a, Indra Puri,
                        <br>Palam Colony,New Delhi
                        <br>
                        <br>
                        <br><strong>Contacts</strong>
                        <br>
                        <br>Email: lksupport@gmail.com
                        <br>Phone: 011 6460 2603
                        <br>Fax: +1 (1) 123 456 789
                    </p>
                </div>
                <div class="links">
                    <p>
                        <strong>Links</strong>
                        <br>
                        <br><a class="text-white" href="/">Home</a>
                        <br><a class="text-white" href="/contact">Contact-Us</a>
                        <br><a class="text-white" href="/product">Product</a>
                        <br>
                        <br><strong>Feedback</strong>
                        <br>
                        <br>Please send us your ideas, bug reports, suggestions! Any feedback would be appreciated.
                    </p>
                </div>
                <div class="map">
                    <div class="google-map"><iframe frameborder="0" height="420px" width="100%" style="border:0" src="https://maps.google.com/maps? v1/place?key=AIzaSyBr4I5K1_gAQmlo1Bec26VMhPrPxKWtvVs&q=LK Enterprises,Rz-269/56-a, Indra Puri, Palam Colony,New Delhi,India&t=&z=13&ie=UTF8&iwloc=&output=embed" allowfullscreen=""></iframe></div>
                </div>
            </div>
            <div class="sicons">
                <div class="social-footer-icons">
                    <a href="https://www.facebook.com/"><i class="fa  fa-3x fa-facebook" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/?hl=en"><i class="fa fa-3x fa-instagram" aria-hidden="true"></i></a>
                    <a href="https://www.pinterest.com/"><i class="fa fa-3x fa-pinterest-p" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/?lang=en"><i class="fa fa-3x fa-twitter" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="footerlower">
                <div class="horizontal-line">
                    <hr>
                </div>
                <div class="Copyright">
                    <p>
                        © Copyright Permission Krishan Mishra.
                    </p>
                </div>
            </div>



        </div>

    </section>

    <script type="text/javascript">
        document.getElementById("close").addEventListener("click", function() {
            document.querySelector(".container").style.display = "none";
            // document.querySelector("body,.navbar").style.background="rgba(0,0,0,0.6)";
        })
    </script>
    <script type="text/javascript">
        document.getElementById("button").addEventListener("click", function() {
            document.querySelector(".container").style.display = "block";
            document.querySelector("body").style.background = "rgba(0,0,0,0.6)";
            document.querySelector("#carouselExampleInterval").style.background = "rgba(0,0,0,0.6)";
        })
    </script>



</body>