<section class="py-5">
    <h1 class="display-3">
        Thank You!
   </h1>
   <p class="lead">Your product will be delivered to you within 1 week.</p>
   <a href="/product" class="btn btn-dark btn-lg">Go Back to Product Page</a>

</section>